<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pious.orphanage_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orphanage_app">
        <activity android:name=".AdminDashBoardActivity"></activity>
        <activity android:name=".Items_DonateActivity"
            android:parentActivityName=".GuestActivity"/>
        <activity android:name=".Other_supportActivity" />
        <activity android:name=".VisitActivity" />
        <activity android:name=".AbouttheappActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".DonationActivity" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".GuestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>